.button i {padding-right: 1px;}
.callout a.button {color: #fff}
.callout i {display: inline;}

.app-download {width: 100%; text-align: center; }

.platforms {color: #b6b3aa; text-align: center; width: 100%;}
.platforms i {display: inline; margin: 0 10px; color: #b6b3aa;} 

small.error {background-color: #ec6400!important;}

p.intro {width: 400px; margin: 0 auto 30px auto;}
	
table thead {background: #f2eee2;}
table tr.even, table tr.alt, table tr:nth-of-type(even) {background: #f7f5ee;}
i.new {color: #fcb236; float: left; margin-right: 0.4em; padding: 0;}

.primary {background-color: #10c77e;}
.download {position: relative; top: 280px; 
-webkit-box-shadow: 0 0 3px 3px #f2eee2;
box-shadow: 0 0 3px 3px #f2eee2;
} 

td:first-child {font-weight: 700;}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 0.3s linear infinite;
  -moz-animation: rotating 0.3s linear infinite;
  -ms-animation: rotating 0.3s linear infinite;
  -o-animation: rotating 0.3s linear infinite;
  animation: rotating 0.3s linear infinite;
  font-size: 200%;

}

body#download header {
	background:url(../img/download.svg) center 100px no-repeat #f1efe3;
	background-size:380px;
	position: relative;
	height: 100%;
}
header.detect {height: 400px!important;}


.button i {display: inline; color: #ffffff; opacity: 0.6; font-size: 120%;}

body#data i.fa {
	font-size:90px;
}

div.how {
	margin-top:40px;
}

section#full {
	height:420px;
	background-size:100% auto;
	background:url(../img/temp/africa.jpg) no-repeat left bottom;
	margin-bottom:40px;
	position:relative;
}

section#full .large-12 {
	height:420px;
	position:relative;
}

section#full .data-title {
	position:absolute;
	margin:0;
	bottom:20px;
	height:auto;
}

section#full .data-title h1 {
	color:#fff;
	text-shadow:0 0 100px #000;
}

section#testimonials {
	background:#efefef;
	padding:40px;
}

/* consider #fcb236 */
section#testimonials img.quoth {
	float:left;
	margin:0 1em .6em 0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}

i.fa-check {
	color:#10c77e;
}

.bubble {
	clear:left;
	position:relative;
	padding:15px;
	margin:3em 0;
	color:#000;
	background:#fff;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

/* Variant : for top positioned triangle
------------------------------------------ */
.bubble .pointer {
	background:#fff;
}

/* THE POINTY BIT
------------------------------------------------------------------------------------------------------------------------------- */
/* creates pointy bit */
.bubble:after {
	content:"";
	position:absolute;
	bottom:-15px;
/* value = - border-top-width - border-bottom-width */
	left:20px;
/* controls horizontal position */
	border-width:15px 15px 0;
/* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#fff transparent;
/* reduce the damage in FF3.0 */
	display:block;
	width:0;
}

/* Variant : top
------------------------------------------ */
.bubble.pointer:after {
	top:-15px;
/* value = - border-top-width - border-bottom-width */
	left:25px;
/* controls horizontal position */
	bottom:auto;
	right:auto;
	border-width:0 15px 15px;
/* vary these values to change the angle of the vertex */
	border-color:#fff transparent;
}

/* ==========================================================================
Colour pallete
========================================================================== */
/*

#231f20 : Ursela
#2e332e : Jafar
#6d6c68 : Scar
#ec3e82 : Dutchess 
#4caee2 : Genie
#10c77e : Kaa
#fcb236 : Flounder
#ec6400 : Simba
#ec1f00 : Mushu
#b6b3aa : Rafiki 
#f2eee2 : Meeko
#e2e1dd : Gus

*/
/* ==========================================================================
Global
========================================================================== */
body {
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#2e332e;
}

body#home {
	margin:0;
}

img.logo {
	height:30px;
}

/* ==========================================================================
Typography
========================================================================== */
h1 {
	font-family:'Roboto Slab',sans-serif;
	font-weight:700;
	color:#2e332e;
}

h2,h3,h4,h5,h6 {
	font-family:'Roboto Slab',sans-serif;
	font-weight:400;
	color:#2e332e;
}
.button {
	font-family:'Roboto Slab',sans-serif;}
p {
	font-weight:300;
}

.top-bar-section ul li > a.button {
	background:#10c77e; /* change to primary */
}

#owenHome {
	position:relative;
}

.button {
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}

/* ==========================================================================
Sections
========================================================================== */
section#footer {
	padding:40px 0;
	background:#f2eee2;
}

section#footer li {
	list-style:none;
}

section#footer ul {
	margin:0;
}

section#footer h4 {
	color:#6d6c68;
}

section#owenHome {
	height:680px;
	text-align:left;
	position:relative;
	padding:80px 20px 0;
	margin:0 0 40px;
	background:url(../img/owen-hero.svg) bottom left no-repeat #f2eee2;
	background-size:1400px;
}

header {
	padding:24px;
	margin:0 0 18px;
	background:#f1efe3;
}

body#features header {
	background:url(../img/features.svg) bottom center no-repeat #f1efe3;
	background-size:700px;
	height:420px;
}

section#whatCanIDo {
	background:#e2f2fa;
	padding-top:20px;
}

section#whatCanIDo hr {
	border-color:#b7dff3;
}

section#whatCanIDo i {
	color:#4caee2;
}



section#enterprise {
	background:#3983aa;
	margin-top:40px;
	text-align:center;
	color:#fff;
}

section#enterprise h3 {
	color:#fff;
	margin-top:30px;
}

section#enterprise .large-8 {
	padding:0;
}

/* ==========================================================================
Top bar
========================================================================== */
.top-bar {
	height:60px;
	padding-top:8px;
}

.top-bar ul li a {
	font-family:'Roboto Slab',sans-serif;
	font-weight:400;
	font-size:20px;
}

.top-bar,.top-bar ul,.top-bar li a:hover,.top-bar-section ul li:hover > a,.top-bar-section li:not(.has-form) a:not(.button) {
	background:#fff;
}

.top-bar ul li a {
	color:#2e332e;
}

.top-bar .name h1 a {
	color:#2e332e;
}

/*** TEMP ***/
.top-bar a.button {
	color:#fff;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background:#fff;
	color:#2f342f;
}

.top-bar {
	border-bottom:solid 1px #e2e1dd;
}

.top-bar ul {
	padding-right:10px;
}

li.toggle-topbar a {
	color:#2e332e;
}

dl.help {
	font-size:18px;
}

body#help .callout {
	background-image:url(../img/owenheart.svg);
	background-repeat:no-repeat;
	background-position:right 10px;
	background-size:300px auto;
}

body#help header {
	height:460px;
}

/* ==========================================================================
Home
========================================================================== */
/* ==========================================================================
About
========================================================================== */
.team-pic strong {
	display:block;
}

section#team img {
	border:inside 10px solid #FFF;
	border-radius:3px;
	-webkit-border-radius:3px;
	transition:opacity 1s ease-in;
}

/* ==========================================================================
Features
========================================================================== */
.fa {
	margin:0 auto;
	display:block;
	color:#4caee2;
}

.features-learn {padding-top: 30px;}
.features-learn p {padding: 10px;}

.features-learn h2 img {margin-top: 20px;}

body#features section hr {padding-top: 20px;}

/* ==========================================================================
Pricing
========================================================================== */
section.pricing {
	background:#f2eee2;
	padding:40px 0 0;
}

li.title {
	-webkit-border-radius:8px 8px 0 0;
	border-radius:8px 8px 0 0;
}

ul.pricing-table {
	font-family:'Roboto',sans-serif;
	font-weight:300;
}

/* something is wrong here, investigate */
ul.pricing-table li.title {
	color:#fff;
}

/**** rows ****/
.bullet-item img {
	height:14px;
}

.pricing-table {
	border:0;
}

ul.rows li.bullet-item,ul.rows li.title,ul.rows li.price {
	text-align:right;
	background:none;
	border-bottom:dotted 1px #f2eee2;
	font-weight:700;
}

ul.rows li.price {
	margin-bottom:10px;
}

/**** free tier ****/
ul.free li.title {
	background:#4caee2;
}

ul.free li.title + li,ul.free li.bullet-item:last-child {
	background:#b7dff3;
}

ul.free li.bullet-item {
	background:#dbeff9;
	border-bottom:1px solid #b7dff3;
}

ul.free li.bullet-item:last-child {
	font-weight:700;
	font-size:110%;
}

/**** pro tier ****/
ul.pro li.title {
	background:#fcb236;
}

ul.pro li.title + li,ul.pro li.bullet-item:last-child {
	background:#fee0af;
}

ul.pro li.bullet-item {
	background:#fef0d7;
	border-bottom:1px solid #fee0af;
}

ul.pro li.bullet-item:last-child {
	font-weight:700;
	font-size:110%;
}

/* ul.pro li.title .trial {background: #10c77e; font-size: 10px; padding: 4px; margin: 0; text-align: center; display: inline; width: 40px;} */
/**** ribbon ****/
.trial {
	position:relative;
	z-index:90;
}

.ribbon-trial-green {
	width:100px;
	height:100px;
	overflow:hidden;
	position:absolute;
	top:-4px;
	right:11px;
	padding-top:10px;
}

.ribbon-green {
	text-align:center;
	color:#fff;
	font-size:10px;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:relative;
	padding:7px 0;
	right:-6px;
	top:12px;
	width:120px;
	background-color:#10c77e;
}

.ribbon-green:before,.ribbon-green:after {
	content:"";
	border-top:3px solid #6e8900;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
	position:absolute;
	bottom:-3px;
}

.ribbon-green:before {
	left:0;
}

.ribbon-green:after {
	right:0;
}

/**** enterprise tier ****/
ul.enterprise li.title {
	background:#ec6400;
}

ul.enterprise li.title + li,ul.enterprise li.bullet-item:last-child {
	background:#f7c199;
}

ul.enterprise li.bullet-item {
	background:#fbe0cc;
	border-bottom:1px solid #f7c199;
}

ul.enterprise li.bullet-item:last-child {
	font-weight:700;
	font-size:110%;
}

.price span {
	font-size:12px;
	display:block;
}

.mob-price {
	display:none;
}

/* ==========================================================================
Help
========================================================================== */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* ==========================================================================
Media queries
========================================================================== */
@media only screen and (min-width: 64.063em) {
	.preview {
		display:none;
	}
	
	/** home **/
	h1.hero {
		font-size:400%;
	}
	
	.preview {
		position:absolute;
		right:0;
		bottom:0;
		height:390px;
		width:640px;
	}
	


}

@media only screen and (max-width: 40.063em) {
	/**** pricing table reformatting for mob view ****/
	.mob-price {
		display:block;
		font-size:60%;
		font-weight:300;
	}
	
	ul.pricing-table li.bullet-item {
		font-size:160%;
		font-weight:700;
	}
	
	/** hero image repositioning **/
	section#owenHome {
		background-size:120%;
		padding-top:20px;
		height:680px;
	}
	
	dl.features dd {
		font-size:80%;
	}
	
	dl.bubble {
		margin-top:0;
	}
	
	.top-bar.expanded .title-area {
		background:#fff;
	}
	
	.top-bar .toggle-topbar.menu-icon a::after {
		-webkit-box-shadow:0 10px 0 1px #2e332e,0 16px 0 1px #2e332e,0 22px 0 1px #2e332e;
		box-shadow:0 10px 0 1px #2e332e,0 16px 0 1px #2e332e,0 22px 0 1px #2e332e;
	}
	
	body#features header {
	background-size:90%;
	height:420px;
	}
	
p.intro {width: 100%;}		
}

.top-bar-section ul li > a.login-button {
  width: 80px;
}