<section id="footer" class="text-center">
        <div class="row">
            <div class="large-12 columns">
                <h4>Footsie</h4>
        
				</div>
        </div>
    </section>

    <script src="{{ site.tribble }}js/tribble.js"></script>
    <script src="{{ site.baseurl }}js/config/config.js"></script>    
    <script src="{{ site.baseurl }}js/app.js"></script>    
    <script src="{{ site.baseurl }}js/foundation.min.js"></script>  
    <script src="{{ site.baseurl }}js/foundation.slider.js"></script>  
    <script src="{{ site.baseurl }}js/foundation.dropdown.js"></script>     


<script  type="text/javascript">
	$(document).foundation({
	  slider: {
	    on_change: function(){
	      // do something when the value changes
	    }
	  }
	});
</script>

