<!doctype html>
<html class="no-js" lang="en" ng-app="io">
  <head>
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:300,700' rel='stylesheet' type='text/css'>  <!-- pre-mix-in -->
 
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">    <meta charset="utf-8" /> <!-- pre-mix-in -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {% if page.title %} {{ page.title }} | {% endif %} import•io </title>
    <link rel="stylesheet" href="{{ site.baseurl }}css/foundation.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}css/sally.css" />
    <script src="{{ site.tribble }}js/tribble-head.js"></script>
    <script src="{{ site.baseurl }}js/vendor/modernizr.js"></script>
    <script src="{{ site.baseurl }}js/konami.js"></script>
    <script src="https://www.paypalobjects.com/js/external/api.js"></script>
 
  </head>