      <li><a href="{{ site.baseurl }}about/index.html">About</a></li> 
      <li><a href="{{ site.baseurl }}features/index.html">Features</a></li>
      <li><a href="{{ site.baseurl }}pricing/index.html">Pricing</a></li>
      <li><a href="{{ site.baseurl }}help/index.html">Help</a></li>
	  <li><a href="http://blog.import.io">Blog</a></li>       
	  <li ng-hide="current()">
	  	<a href="{{ site.baseurl }}data/" target="_blank" class="button radius login-button">
	  		<span ng-show="initialised()" style="display: none">Sign in</span>
	  		<i class="icon-spin icon-spinner" ng-hide="initialised()"></i>
	  	</a>
	  </li>
	  <li style="display: none" ng-show="current()"><a href="{{ site.baseurl }}data/mine" target="_blank" class="button radius login-button">My Data</a></li>
