{% include header.html %}
{% include topbar.html %}
 <body ng-controller="Website" id="about">
    <header>
        <div class="row">
            <div class="medium-6 large-6 columns">
            <h1 class="text-center">About us</h1><img src="{{ site.baseurl }}img/team-owls.svg"></div>

            <div class="medium-6 large-6 columns">
                <br>
                <br>

                <h4>Let's restructure the web together</h4>

                <p>We are a young startup that’s shaking up the world of data. From our homebase in London, we’re working hard to give people a totally new way to access data from the web. We have an amazing user base and were most recently the winners of the Beta PITCH competition at Web Summit in Dublin and one of the top 4 finalists of the Startup Battlefield at TechCrunch Disrupt Berlin. Backed by top European VCs and Valley-based Angel investors, our aim is to make a big impact in the world of data.</p>
            </div>
        </div>
    </header>

    <section id="team">
        <div class="row">
            <div class="large-12 columns">
                <h2>Meet the team!</h2>
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/david.jpg" alt="David White">

                <h3>David White</h3>

                <p>Founder & CEO</p>
            </div>

            <div class="large-4 columns">
                <img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/matt.jpg" alt="Matthew Painter">

                <h3>Matthew Painter</h3>

                <p>Founder & CTO</p>
            </div>

            <div class="large-4 columns">
                <img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/andrew.jpg" alt="Andrew Fogg">

                <h3>Andrew Fogg</h3>

                <p>Founder & CDO</p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <ul class="small-block-grid-2 large-block-grid-4 team-list">
                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/nick.jpg" alt="Nick Scott"><strong>Nick Scott</strong>Head of User Success</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/ben.jpg" alt="Ben Brignell"><strong>Ben Brignell</strong>Creative Director</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/chris.jpg" alt="Chris Alexander"><strong>Chris Alexander</strong>Developer Experience Engineer</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/ignacio.jpg" alt="Ignacio Elola"><strong>Ignacio Elola</strong>Data Scientist</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/ian.jpg" alt="Ian Clark"><strong>Ian Clark</strong>Senior Developer</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/bamford.jpg" alt="Chris Bamford"><strong>Chris Bamford</strong>Developer</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/bea.jpg" alt="Bea Schofield"><strong>Bea Schofield</strong>Onboarding Analyst</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/alex.jpg" alt="Alex Gimson"><strong>Alex Gimson</strong>User Success Analyst</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/ganesh.jpg" alt="Ganesh Sankararaman"><strong>Ganesh Sankararaman</strong>QA Manager</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/jen.jpg" alt="Jen Methvin"><strong>Jen Methvin</strong>Marketing Associate</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/sally.jpg" alt="Sally Hadidi"><strong>Sally Hadidi</strong>Marketing Associate</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/niru.jpg" alt="Niru DeSilva"><strong>Niru DeSilva</strong>Office Manager/Executive Assistant</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/dan.jpg" alt="Dan Cave"><strong>Dan Cave</strong>SEO Analyst</li>

                    <li class="team-pic"><img src="{{ site.baseurl }}img/team/team.gif" data-src="{{ site.baseurl }}img/team/jason.jpg" alt="Jason Trotman"><strong>Jason Trotman</strong>Business Development Manager</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h3>Our investors</h3>
            </div>
        </div>

        <div class="row">
            <hr>

            <div class="large-4 columns">
                <h3>Louis Monier</h3>

                <p>Louis is best known as the founder and spokesperson for AltaVista, the first large-scale search engine on the Internet.</p>
            </div>

            <div class="large-4 columns">
                <h3>Wellington Partners</h3>

                <p>Wellington Partners is one of the most successful pan-European venture capital firms, with some €800 million under management and offices in London, Munich, Palo Alto and Zurich.</p>
            </div>

            <div class="large-4 columns">
                <h3>Emmanuel Javal</h3>

                <p>Investor and consultant to fast-growing start-up companies, Emmanuel was GM and Co-founder of Realviz, a groundbreaking digital content creation software company.</p>
            </div>
        </div>
    </section>
    
    
{% include footer.html %}

