{% include header.html %}

&nbsp;
     <section id="linkAccounts">
        <div class="row">
            <div class="large-4 columns">
                <h2>Link accounts</h2>
            </div>

            <div class="large-8 columns">
                   <ul class="pricing-table free">
	                    <li class="title">Choose a bank</li>
	                    <li class="bullet-item">
		                    Cooperative Bank
		                    
		                    <a href="#" data-dropdown="drop1" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop1" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>

	                    </li>
	                    <li class="bullet-item">
	                    	Sainsbury’s bank 
	                    
							<a href="#" data-dropdown="drop2" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop2" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>
	                    </li>
	                    
	                    <li class="bullet-item">
	                    	Cooperative Bank 
							<a href="#" data-dropdown="drop3" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop3" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>
	                    </li>

	                    <li class="bullet-item">
	                    	Tesco’s bank 
	                    	<a href="#" data-dropdown="drop4" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop4" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>
	                    </li>
	                    	
	                    <li class="bullet-item">
	                    	Lloyds Bank
	                        <a href="#" data-dropdown="drop5" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop5" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>
	                    </li>           
						<li class="bullet-item">
						TSB
						<a href="#" data-dropdown="drop6" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop6" data-dropdown-content class="f-dropdown">
							  <li><a href="#">Current account</a></li>
							  <li><a href="#">Credit Card</a></li>
							  <li><a href="#">Savings account</a></li>
							</ul>
	                    </li> <!-- this is the promoted one, like -->
					</ul>
            </div>
        </div>
    </section>



    <section id="slideySlide">
		<div class="row text-center">
            <div class="large-4 columns">
                <h2>[Bank name]</h2>
                <h4>[Account type]</h4>
            </div>
    
            <div class="large-8 columns">
                <h2>Balance</h2>
                
                <div class="centre">
                     <div id="slider"></div>
					 <input type="text" data-slider="true" value="0.8" data-slider-highlight="true">
					<br /><br /><br />
					 <a href="#" class="primary button large submit">Submit</a>
                </div>
            </div>			
        
        
        
		</div>
        
    </section>
{% include footer.html %}
