{% include header.html %}

&nbsp;
     <section id="linkAccounts">
        <div class="row">
            <div class="large-4 columns">
                <h2>Link accounts</h2>
            </div>

            <div class="large-8 columns">
                   <ul class="pricing-table free">
	                    <li class="title">Choose a bank</li>
	                    <li class="bullet-item">Cooperative Bank <a href="#" class="choose">Choose</a></li>
	                    <li class="bullet-item">Sainsbury’s bank <a href="#" class="choose">Choose</a></li>
	                    <li class="bullet-item">Cooperative Bank <a href="#" class="choose">Choose</a></li>
	                    <li class="bullet-item">Tesco’s bank <a href="#" class="choose">Choose</a></li>
	                    <li class="bullet-item">Lloyds Bank  <a href="#" class="choose">Choose</a></li>                 
						<li class="bullet-item">TSB<a href="#" class="choose">Choose</a</li> <!-- this is the promoted one, like -->
					</ul>
            </div>
        </div>
    </section>



    <section id="slideySlide">
		<div class="row text-center">
            <div class="large-4 columns">
                <h2>[Bank name]</h2>
            </div>
    
            <div class="large-8 columns">
                <h2>Balance</h2>
                
                <div class="centre">
                     <div id="slider"></div>
					 <input type="text" data-slider="true" value="0.8" data-slider-highlight="true">
                </div>
            </div>			
        
        
        
		</div>
        
    </section>
{% include footer.html %}
