{% include header.html %} {% include topbar.html %}
<body ng-controller="Website" id="data">
    <section id="full">
        <div class="row">
            <div class="large-12 columns">
                <div class="data-title">
                    <h1>How data is feeding the hungry</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="row">
        <div class="large-8 columns">
            <h2>Predicting food shortages in Africa</h2>

            <p>Global NGO, Oxfam, is exploring a new approach to combating food shortages in Africa. By comparing spikes in local food prices with times of political unrest they can determine which socio-political factors historically contribute to food shortages. Now, using live data from local markets and newspapers, Oxfam can start to predict when and where food shortages are likely to happen; allowing them to provide faster, more targeted aid to struggling villages.</p>

            <h2>How?</h2>

            <p>Using import·io, Oxfam can stream live data on local food prices from services like M-Farm and compare them with online news stories.</p>
        </div>

        <div class="large-4 columns"></div>
    </div>

    <div class="row text-center how">
        <div class="large-4 columns">
        	<i class="fa fa-frown-o"></i>
            <h4>Data on Food Prices is fragmented and unstructured</h4>

            <p>Collecting this data manually wastes precious manpower and resources</p>
        </div>

        <div class="large-4 columns">
        	<i class="fa fa-sitemap"></i>
            <h4>import·io normalizes that data and extracts it from the web</h4>

            <p>Saving Oxfam time and money and allowing them to create their own database</p>
        </div>

        <div class="large-4 columns">
        <i class="fa fa-truck"></i>
            <h4>By analyzing this, and other data, Oxfam can predict food shortages before they happen</h4>

            <p>Allowing them to provide faster and more targeted aid, saving more lives</p>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h3>A structured database of food prices</h3>

            <p>Monitoring the rise and fall of local food prices can help NGOs like Oxfam to provide better, faster and more targeted aid where it is needed most. Unfortunately, collecting data on local market prices is difficult because the data is fragmented and unstructured. Using import·io, Oxfam was able to create a database of food prices which they can now use to help monitor the situation in Africa and start to analyze and predict the causes of food shortages.</p>
        </div>

        <div class="large-4 columns"></div>
    </div>
{% include footer.html %}
