{% include header.html %}
{% include topbar.html %}

<body ng-controller="Website" id="download">
    <header>
        <div class="row">
        	<div class="large-12 columns text-center">
        		<h1>A world of data awaits you!</h1>
        		
        		<a href="{{ site.baseurl }}download" class="large button primary download">Download the App <i class="fa fa-cloud-download"></i></a>	
        	</div>
        </div>
  </header>
  
<section>

    <div class="row">
    	<div class="large-12 columns text-center">
          	<h2>Thank you for downloading our app</h2>
          	<p>Our free app lets you extract or crawl live data direct from webpages and is available on the following platforms:</p>
          	
        </div>
    </div>

	<div class="row text-center">
		<div class="large-12 columns">
		
			<a href="{{ site.baseurl }}download/windows" class="button primary"><i class="fa fa-windows"></i> Windows</a>	
			<a href="{{ site.baseurl }}download/osx" class="button primary"><i class="fa fa-apple"></i> OSX</a>
			<a href="{{ site.baseurl }}download/linux" class="button primary"><i class="fa fa-linux"></i> Linux</a>
		
		</div>		
		
			
	</div>

</section> 
    
    
{% include footer.html %}

