{% include header.html %}
{% include topbar.html %}

<body ng-controller="Website" id="download">
    <header class="detect">
        <div class="row">
        	<div class="large-12 columns text-center">
        		<h1>A world of data awaits you!</h1>	
        	</div>
        </div>
  </header>
  
<section>

    <div class="row">
    	<div class="large-12 columns text-center">
    		
          	<h2>Downloading our desktop app for Windows</h2>
          	
          	<i class="fa fa-refresh rotating"></i>
          	<p>The download should start within a few seconds. If it doesn't, click <a href="https://d24s8iufolpmlr.cloudfront.net/prod/dist/setup.exe">here</a>.</p>	
        </div>
    </div>

	<div class="row">
	
		<div class="large-4 columns">
		
			<img src="{{ site.baseurl }}img/download/windows/1.png" alt="Run the import•io installer" class="th" />
			<h6>1. Run the import•io installer</h6>
			<p>Click on the .exe file that just downloaded, and click “yes” when asked if you want to run it.</p>
		</div>
		<div class="large-4 columns">
		
			<img src="{{ site.baseurl }}img/download/windows/2.png" alt="Run import•io" class="th"  />
			<h6>2. Follow setup instructions</h6>
			<p>The installer wizard will guide you through the setup process.</p>
		</div>
		<div class="large-4 columns">
		
			<img src="{{ site.baseurl }}img/download/windows/3.png" alt="Sit back and relax" class="th"  />
			<h6>3. Sit back and relax</h6>
			<p>Each time you open import•io, it will automatically check for the latest version.</p>
		</div>
	
	</div> 
	
		<div class="row text-center">
			<div class="large-12 columns">
				<h4>Available on</h4>
{% include downloads.html %}
		
			</div>	
		</div>		
</section> 
    
    
{% include footer.html %}

