{% include header.html %}
{% include topbar.html %}
<body ng-controller="Website" id="features">
    <header>
        <div class="row">
            <div class="large-12 columns text-center">
                <h1>Turn information from the web<br>
                into usable data</h1>
            </div>
        </div>
    </header>

    <section>
        <div class="row">
            <div class="large-12 columns text-center">
                <h3>How do I get data?</h3>
                <p class="intro">Using our desktop app you can turn any website into a table of data or an API in just a few minutes without writing any code. </p>
				{% include appDownload.html %}
            </div>

            &nbsp; 
            <hr />
        </div>

		<div class="row text-center">
			<div class="large-12 columns">
				<h3>There are three methods of data extraction:</h3>
			</div>
		</div>

        <div class="row features-learn">
            <div class="large-4 columns">
            
                <h2 class="text-center">Extractors
	                <img src="../img/temp/help1.png" alt="help1" /> 
	                
                </h2>
                
                
               

                <p><strong>Extractors</strong> are the most straightforward method of getting data, they allow you to <strong>turn an unstructured web page into a table of data</strong>.</p>
            </div>

            <div class="large-4 columns">
                <h2 class="text-center">Crawlers
	                
	                <img src="../img/temp/help2.png" alt="help2" />
                </h2>
				
                <p>A <strong>crawler</strong> is an extractor with legs; it allows you to go to every page of a website and <strong>extract all of the data on every page</strong> that matches the pattern you define.</p>
            </div>

            <div class="large-4 columns">
            
                <h2 class="text-center">Connectors
	                
	                <img src="../img/temp/help3.png" alt="help3" />
                </h2>
				
                <p>A <strong>connector</strong> is an extractor that lets you <strong>interact with a web site</strong>, for example via a search field, to get to your data. </p>
            </div>
        </div>
    </section>

    <section id="whatCanIDo" class="text-center">
        <div class="row">
            <div class="large-12 columns">
                <h3>What can I do with my data?</h3>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-magic"></i>Create</h4>

                <p>Datasets allow our users to mash together live and static data from in any combination from Connectors, Extractors, Crawlers and Mixes. </p>
            </div>

            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-share-square-o"></i>Share</h4>

                <p>Generate a unique link to your Data Set to share it with anyone</p>
            </div>

            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-download"></i>Export</h4>

                <p>Download your Data Set as CSV, HTML, or XLS</p>
            </div>


        </div>

        <div class="row">
            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-exchange"></i>Integrate</h4>

                <p>Integrating our APIs is easy, whether it's into Excel or iOS. We make it simple to get data into just about anything!</p>
            </div>        
        
            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-random"></i>Mix</h4>

                <p>Search across multiple sites by mixing together multiple APIs.</p>
            </div>



            <div class="large-4 columns">
                <h4 class="text-center"><i class="fa fa-cloud-download"></i>Store</h4>

                <p>All your data is stored on our cloud servers so you can access data from anywhere!</p>
            </div>
           
            
        </div>
    </section>

    <section id="features">
        <div class="row">
            <div class="large-12 columns ">
                <h3 class="text-center">
                <i class="fa fa-cogs"></i>
                Here's a big list of our documented features</h3>

                <section id="features">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th>Feature</th>

                                <th>Description</th>
                                
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Extractors</td>

                                <td>Turn unstructured and semi-structured data from similar web pages into a structured data set</td>
                                
                                <td><a href="#">Learn more about Extractors</a></td>
                            </tr>

                            <tr>
                                <td>Crawlers</td>

                                <td>Convert an entire website's worth of pages into a structured database</td>
                                
                                <td><a href="#">Learn more about Crawlers</a></td>
                            </tr>

                            <tr>
                                <td>Connectors</td>

                                <td>Convert any website's search box into a queryable API, where you provide the search term and we provide structured results over multiple pages</td>
                                
                                <td><a href="#">Learn more about Connectors</a></td>
                            </tr>
                            <tr>
                                <td>Throughput</td>

                                <td>Fast, parallelized data acquisition distributed automatically by our cloud architecture</td>
                                
                                <td><a href="#">Learn more about Throughput</a></td>
                            </tr>                            
                            <tr>
                                <td>Uptime</td>

                                <td>High availability even for high volume usage</td>
                                
                                <td><a href="#">Learn more about Uptime</a></td>
                            </tr>                            
                            <tr>
                                <td>Federation</td>

                                <td>Query up to 100 unique sources with the same set of inputs to obtain data from a wide spectrum of sites</td>
                                
                                <td><a href="#">Learn more about Federation</a></td>
                            </tr>                            
                            <tr>
                                <td>Data Extraction Formats</td>

                                <td>Inputs and outputs can be extracted as text, numbers, locations, URLs, images and more to bring meaning to the data you retrieve - for easier sorting, filtering, and metadata retrieval</td>
                                
                                <td><a href="#">Learn more about Data Extraction Formats</a></td>
                            </tr>                            
                            <tr>
                                <td>Data Set</td>

                                <td>Combine many data sources to analyse data together, and export it to different data formats and services for further analysis</td>
                                
                                <td><a href="#">Learn more about Data Sets</a></td>
                            </tr>                            
                             <tr>
                                <td>Client Library</td>

                                <td>Leverage our expert-approved client libraries for your language</td>
                                
                                <td><a href="#">Learn more about Client Library</a></td>
                            </tr>                           
                            <tr>
                                <td>Integrations</td>

                                <td>Generate example code to integrate with your own selection of data sources in the language of your choice</td>
                                
                                <td><a href="#">Learn more about Integrations</a></td>
                                
                            </tr>                            
                            <tr>
                                <td>Tests</td>

                                <td>All data sources are automatically tested twice a day, and you are immediately notified if any issues are detected</td>
                                
                                <td><a href="#">Learn more about Tests</a></td>
                            </tr>   
                            <tr>
                                <td>Storage</td>

                                <td>All of your data sources are listed in our powerful cloud search infrastructure, allowing you to quickly search, sort, and filter them to get to the data you need</td>
                                
                                <td><a href="#">Learn more about Storage</a></td>
                            </tr>                               
                            <tr>
                                <td><i class="fa fa-star new"></i>Table auto extract</td>

                                <td>Extract a table of data automatically</td>
                                
                                <td><a href="#">Learn more about Table auto extract</a></td>
                            </tr> 
                            <tr>
                                <td><i class="fa fa-star new"></i>Authen&shy;ticated connectors </td>

                                <td>Extract data from a site that requires you to log in.</td>
                                
                                <td><a href="#">Learn more about Authen&shy;ticated Connectors</a></td>
                            </tr>                             
                                                                                
                        </tbody>
                    </table>
                    <p><i class="fa fa-star new"></i>= New feature!</p>
                    
                </section>
            </div>
        </div>
    </section>
{% include footer.html %}
