{% include header.html %} 
{% include topbar.html %}
<body ng-controller="Website" id="home">    

    <section id="signIn" class="text-center" ng-show="page == 'login'">
        <div class="row">
            <div class="large-12 columns">
                <h1>Sally Bank</h1>
                
                <a class="button">Sign in <i class="fa fa-smile-o"></i> </a>
            </div>
        </div>
    </section>
    
    <section id="linkAccounts" ng-show="page == 'link">
		<div class="row">
			<div class="large-12 columns">
				Add accounts
			</div>
		</div>    
    </section>

{% include footer.html %}