{% include header.html %} 
{% include topbar.html %}
<body ng-controller="Website" id="home">    

    <section id="signIn" class="text-center" ng-show="page == 'login'">
        <div class="row">
            <div class="large-12 columns">
                <h1>$ally Bank</h1>
                
                <a class="button" href="" ng-click="page = 'link'">Sign in <i class="fa fa-smile-o"></i> </a>
                <span id="loginWithPaypal"></span>
            </div>
        </div>
    </section>
    
    <section id="linkAccounts" ng-show="page == 'link'">
		<div class="row">
			<div class="large-12 columns">
				Add accounts
			</div>
		</div>    
    </section>  
      
    <section id="listAccounts" ng-show="page == 'list'">
		<div class="row">
			<div class="large-12 columns">
				List accounts <br> sdfdsf
			</div>
		</div>    
    </section> 
     
	<section id="recommendation" ng-show="page == 'recommend'">
		<div class="range-slider round" data-slider>
			<span class="range-slider-handle"></span>
			<span class="range-slider-active-segment"></span>
			<input type="hidden">
		</div>
	</section>
{% include footer.html %}