{% include header.html %} 
<body ng-controller="Website" id="home">    
{% include topbar.html %}
{% raw %}

	<section id="signIn" class="text-center" ng-show="page == 'login'">
		<div class="row">
			<div class="large-12 columns">
				<span id="loginWithPaypal"></span>
			</div>
		</div>
	</section>

	<section id="linkAccounts" ng-show="page == 'link'">
		<div class="row" ng-show="!currentAccount">
            <div class="large-4 columns">
                <h2>Link accounts</h2>
            </div>

            <div class="large-8 columns" ng-show="getCurrentAccountSize()">
                   <ul class="pricing-table free">
	                    <li class="title">Choose a bank and account</li>
	                    <li class="bullet-item" ng-repeat="(name, accounts) in currentAccounts">
		                    {{name}}
		                    <a href="#" data-dropdown="drop{{name}}" class="button primary tiny dropdown">Choose</a><br>
							<ul id="drop{{name}}" data-dropdown-content class="f-dropdown">
							  <li ng-repeat="account in accounts"><a href="" ng-click="chooseAccount(account, name)">{{account.product_name}} ({{account.interest_rate_aer}} AER)</a></li>
							</ul>

	                    </li>
					</ul>
            </div>

            <div class="large-8 columns" ng-show="getCurrentAccountsLoading">
            	Loading accounts...
            </div>
        </div>
        <div class="row text-center" ng-show="currentAccount">
            <div class="large-4 columns">
                <h2>{{currentAccount.bank}}</h2>
                <h4>{{currentAccount.product_name}}</h4>
            </div>
    
            <div class="large-8 columns">
                <h2>Balance</h2>
                
                <div class="centre">
                     <div id="slider"></div>
					 <input type="text" data-slider="true" value="100" data-slider-range="0,5000" data-slider-highlight="true">
					<br /><br /><br />
					 <a href="#" class="primary button large submit" ng-click="page = 'list'">Submit</a>
                </div>
            </div>			
		</div>
	</section>  

	<section id="listAccounts" ng-show="page == 'list'">
		<div class="row">
			<div class="large-4 columns">
				<h2>My accounts <i class="fa fa-user"></i></h2>
			</div>
			<div class="large-8 columns">
				<dl class="accordion" data-accordion>
					<dd>
						<a href="#panel1">Current accounts <i class="fa fa-money"></i></a> 
						<div id="panel1" class="content active">
							<div class="panel callout text-center">
								<h3 class="text-center">Total balance</h3>
								£2,397
							</div>
							<table width="100%" class="account">
                                <thead>
                                    <tr>
                                        <th>Bank</th>
                                        <th>Interest rate</th>
                                        <th>Balance now</th>
                                        <th>Balance in 6 months</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Halifax</td>
                                        <td>3%</td>
                                        <td><strong>£300</strong></td>
                                        <td><span class="bad">£320</span></td>
                                    </tr>
                                    <tr>
                                        <td>Barclays</td>
                                        <td>0.4%</td>
                                        <td><strong>£634</strong></td>
                                        <td><span class="bad">£320</span></td>
                                    </tr>
                                    <tr>
                                        <td>HSBC</td>
                                        <td>2%</td>
                                        <td><strong>£0</strong></td>
                                        <td><span class="bad">£320</span></td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</dd>
					<dd>
						<a href="#panel2">Credit cards <i class="fa fa-credit-card"></i></a>
						<div id="panel2" class="content">
							<div class="panel bad text-center">
								<h3 class="text-center">Total balance</h3>
								-£4,032
							</div>
							<table width="100%">
								<thead>
									<tr>
										<th>Bank</th>
										<th>Interest rate</th>
										<th>Balance</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Halifax</td>
										<td>3%</td>
										<td><strong>£300</strong></td>
									</tr>
									<tr>
										<td>Barclays</td>
										<td>0.4%</td>
										<td><strong>£634</strong></td>
									</tr>                           
									<tr>
										<td>HSBC</td>
										<td>2%</td>
										<td><strong>£0</strong></td>
									</tr>                            
								</tbody>
							</table>
						<div ng-show="queryProgress >= 100">
							<h6>Recommended for you</h6>
                            <table width="100%" class="recommended">
                                <thead>
                                    <tr>
                                        <th>Bank</th>
                                        <th>Card</th>
                                        <th>APR</th>
                                        <th>Interest free purchase</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="card in recommendedCreditCards">
                                        <td>{{card.bank}}</td>
                                        <td>{{card.card}}</td>
                                        <td><strong>{{card.apr}}%</strong></td>
                                        <td><span class="good">{{card.purchase}} months</span></td>
                                        <td>
                                            <a href="#" class="button tiny primary">Switch</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                        </div>
                        <div ng-show="queryProgress < 100 && creditCardStarted">
                        	<p><i class="fa fa-spin fa-spinner"></i> Getting recommendations...</p>
                        	<div class="progress success radius round">
                        		<span class="meter" ng-style="{ width: queryProgress + '%' }"></span>
                        	</div>
                        </div>
                        <div ng-show="!creditCardStarted">
                        	<button class="button primary" ng-click="getCreditCard()">Get recommendations</button>
                        </div>
						</div>
					</dd>
					<dd>
						<a href="#panel3">Savings <i class="fa fa-money"></i></a>
						<div id="panel3" class="content">
							<h3 class="text-center">Total balance</h3>
							<h4 class="panel callout text-center">£2,397</h4>
							<table width="100%">
								<thead>
									<tr>
										<th>Bank</th>
										<th>Interest rate</th>
										<th>Balance</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Halifax</td>
										<td>3%</td>
										<td><strong>£300</strong></td>
									</tr>
									<tr>
										<td>Barclays</td>
										<td>0.4%</td>
										<td><strong>£634</strong></td>
									</tr>                           
									<tr>
										<td>HSBC</td>
										<td>2%</td>
										<td><strong>£0</strong></td>
									</tr>                            
								</tbody>
							</table> 
						</div>
					</dd>
					<dd>
						<a href="#panel4">Mortgage <i class="fa fa-home"></i></a>
						<div id="panel4" class="content">
							Panel 3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</dd>  
				</dl>
			</div>
		</div>    
    </section> 
     
	<section id="recommendation" ng-show="page == 'recommend'">
		<div class="range-slider round" data-slider>
			<span class="range-slider-handle"></span>
			<span class="range-slider-active-segment"></span>
			<input type="hidden">
		</div>
	</section>
{% endraw %}
{% include footer.html %}