{% include header.html %} 
{% include topbar.html %}
<body ng-controller="Website" id="pricing">
    <section class="pricing">
        <div id="row">
            <div class="large-12 columns">
                <h1 class="show-for-small">Pricing</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-2 medium-3 hide-for-small columns">
                <ul class="pricing-table rows">
                    <li class="title">&nbsp;</li>

                    <li class="price">Price</li>

                    <li class="bullet-item">APIs</li>

                    <li class="bullet-item">Frequency</li>

                    <li class="bullet-item">Real Time Calls</li><!-- Could this be pages? Something that equates to pages, or something or other -->

                    <li class="bullet-item">Crawler</li>

                    <li class="bullet-item">Private APIs</li>

                    <li class="bullet-item">Federation</li>

                    <li class="bullet-item">Support</li>
                </ul>
                
                
            </div>

            <div class="large-3 medium-3 columns">
                <ul class="pricing-table free">
                    <li class="title">Free</li>

                    <li class="price">$0 <span>forever</span></li>

                    <li class="bullet-item"><span class="mob-price">APIs</span>Unlimited</li>

                    <li class="bullet-item"><span class="mob-price">Frequency</span>Real Time</li>

                    <li class="bullet-item"><span class="mob-price">Real Time Calls</span>250,000 per day</li>

                    <li class="bullet-item"><span class="mob-price">Crawler</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Private APIs</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Federation</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Support</span>Barn</li>
                </ul>
                
                <a href="{{ site.baseurl }}download" class="button primary hide-for-small">Get started <i class="fa fa-cloud-download"></i></a>
                
                
            </div>

            <div class="large-3 medium-3 columns trial">
                <div class="ribbon-trial-green">
                    <div class="ribbon-green">
                        3 month <strong>free</strong> trial!
                    </div>
                </div>

                <ul class="pricing-table pro">
                    <li class="title">Pro</li>

                    <li class="price">$150 <span>per month</span></li>

                    <li class="bullet-item"><span class="mob-price">APIs</span>Unlimited</li>

                    <li class="bullet-item"><span class="mob-price">Frequency</span>Real Time</li>

                    <li class="bullet-item"><span class="mob-price">Real Time Calls</span>1 million per day</li>

                    <li class="bullet-item"><span class="mob-price">Crawler</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Private APIs</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Federation</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Support</span>Snowy</li>
                </ul>
                
                <a href="{{ site.baseurl }}download" class="button primary hide-for-small">Get started <i class="fa fa-cloud-download"></i></a>
            </div>

            <div class="large-3 medium-3 columns">
                <ul class="pricing-table enterprise">
                    <li class="title">Enterprise</li>

                    <li class="price">Contact <span>us today!</span></li>

                    <li class="bullet-item"><span class="mob-price">APIs</span>Unlimited</li>

                    <li class="bullet-item"><span class="mob-price">Frequency</span>Real Time</li>

                    <li class="bullet-item"><span class="mob-price">Real Time Calls</span>Unlimited</li>

                    <li class="bullet-item"><span class="mob-price">Crawler</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Private APIs</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Federation</span><i class="fa fa-check"></i></li>

                    <li class="bullet-item"><span class="mob-price">Support</span>Eagle</li>
                </ul>
                
                <a href="{{ site.baseurl }}enterprise" class="button primary hide-for-small">Speak to a human</i></a>
                
            </div>

            <div class="large-1 hide-for-medium hide-for-small columns"></div>
        </div>
    </section>
    
    <section>
    	<div class="row">
    		<div class="large-2 columns hide-for-small"> &nbsp;</div>
 

    		<div class="large-8 small-12 columns">
    			<h4>Great news for all users!</h4>
    			<p>Right now we're not charging for our pro account, we won't take any card details for payment and there are currently no restrictions on usage. You will be given at least three months notice when the pricing plans are to take effect. <strong>For more information</strong> please <a href="http://blog.import.io/post/announcement-new-pricing-model">read our recent announcement about our pricing model</a>.</p>
    		</div>


    		<div class="large-2 columns hide-for-small"> &nbsp;</div>
    	</div>      	
    	
    	
    </section>
{% include footer.html %}